@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display&display=swap');

html, body {
	background-color: #505168;
	color: #EAEFD3;
	font-family: 'Assistant', sans-serif;
}

body {
	max-width: 600px;
	margin: auto;
	padding: 3em;
	line-height: 1.5;
}

h2 {
	color: #B3C0A4;
	text-align: left;
	font-size: 36px;
	font-family: 'Playfair Display', serif;
}

h3 {
	text-align: left;
	font-size: 18px;
	font-family: 'Playfair Display', serif;
}

a {
	color: #B3C0A4;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	color: #BAC6AC;
	text-decoration: line-through;
	border-bottom: none;
}

b, strong {
    color:#E3DAB1;
}
